.backgroundImage{
    background-image: url("./Background.svg");
    height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  
}
.signup{
    width:30em;
    heigth:30em;
    padding:3em;
    background-color: #FFDD00;
}